.vs
.vscode
Canceladasx91.zip
generacionLog
GeneracionLogScore.zip
C:\Users\Jay\Documents\RPA_Fraudes_CDI\HelixNavigate\release
C:\Users\Jay\Documents\RPA_Fraudes_CDI\HelixNavigate\release\*
helixIntegration
mantenimiento