.vs
RiesgoPichinchaQuoteParser/bin/
RiesgoPichinchaQuoteParser/obj/*
RiesgoPichinchaQuoteParser/obj/Debug/*
RiesgoPichinchaQuoteParser/obj/publish/*
/obj/Release/*
RiesgoPichinchaQuoteParser/Properties/